body{
    color: #1E306E;
}
.logo{
    padding: 5px;
    width: 150px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header{
    text-align: center;
    background-image: url(casper.jpg);
    background-color: #30373b;
    padding: 5px;
    height: 450px;
}
header.topliner{
    font-size: 15px;
}
header a.format{
    margin-top: 80px;
    padding: 15px;
    border-radius: 0.25rem;
    background-color: #1E306E;
    color: white;
    display: inline-block;
}
header p.lastline{
     padding-top: 150px;
     display: block;
}
a {
    color: white;
    text-decoration: none;
}
.testimonials{
    text-align: center;
}
.reviews{
    display: inline-block;
    width: 350px;
    height: 250px;
}
footer{
     background-color: #30373b;
    color: white;
    clear: both;
    text-align: center;
    padding: 15px;
}